*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 4px;
}

.topbox-container {
  display: grid;
  grid-template-columns: 25% 1fr;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(17, 1fr);  /*will need js to change*/
}

/*
:not(.cell) {
  margin: 1px;
}
*/

h3 {
  color:red;
}

#ribbonMaze {
  height: 360px;
  /*
  width: 100%;
  */
  background-color: darkgrey;
}

.testBorder {
  border: 3px solid purple
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  /* width will change with viewport*/
  width: 100%;  /* js will need to change */
  border: 5px solid darkgrey;

}

#stickfig {
  width: 36x;
  height: 36px;
  margin: auto;
  display: block;
}

.cell-rm-t {
  border-top: 0;
}

.cell-rm-r {
  border-right: 0;
}

.cell-rm-b {
  border-bottom: 0;
}

.cell-rm-l {
  border-left: 0;
}

.cell-rm-all {
  border-left: 0;
}