*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

#gameGrid {
  display: grid;
  grid-gap: 0px;
  height: 360px;
  background-color: darkgrey;
}

.row {
  border:2px solid darkred;
}

.col {
  border:2px solid orange;
}

body {
  margin: 4px;
}

.topbox-container {
  display: grid;
  grid-template-columns: 25% 1fr;
}

/*
:not(.cell) {
  margin: 1px;
}
*/

h3 {
  color:red;
}

.testBorder {
  border: 3px solid purple
}

.cell {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 60px;
  border: 3px solid red;
}

#stickfig {
  width: 36x;
  height: 36px;
  margin: auto;
  display: block;
}

.cell-rm-t {
  border-top: 0;
}

.cell-rm-r {
  border-right: 0;
}

.cell-rm-b {
  border-bottom: 0;
}

.cell-rm-l {
  border-left: 0;
}

.cell-rm-all {
  border-left: 0;
}